html {
    min-height: 100%;
}
body {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.navbar {
    background-color: slategray;
    color: white;
    margin: 0px 0px 25px 0px;
    padding: 10px 50px;
}
h1 {
    display: inline;
}
a,
a:visited,
a:active {
    color: white;
    text-decoration: none;
    float: right;
    font-size: 18px;
    margin: 10px 10vw 5px 0px;
}
a:hover {
    color: rgba(255, 255, 255, 0.8);
}
.image-view {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.previous,
.next {
    height: 50px;
    width: 100px;
    background-color: blueviolet;
    align-self: center;
    margin: 0px 5px;
}
.image {
    height: 75vh;
    width: 75vw;
    background-color: red;
}
.image-nav {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 0px 0px 0px;
}
.image-pre {
    width: 20vw;
    background-color: rgba(256, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}
.image-sm {
    height: 50px;
    min-width: 50px;
    margin: 5px;
    background-color: royalblue;
}
